# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
.venv/
venv/
env/

# =========================
# PYTEST / COVERAGE
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# ENV FILES
# =========================
.env
.env.*

# =========================
# DOCKER (opcional)
# =========================
docker-compose.override.yml

# =========================
# BUILD / DISTRIBUTION
# =========================
build/
dist/
*.egg-info/
